<img style="width:200px; height: 250px" [src]="product.image" [alt]="product.title">
<p>{{ product.price | currency: 'GBP'}}</p>

<button
(click)="details = !details" 
>{{details ? 'Hide' : 'Show' }} Details</button>

<div *ngIf="details">
  <p>{{ product.description }}</p>
  <p>Rate: <span [ngStyle]="{fontWeight: 'bold'}"> {{ product.rating.rate | number: '2.2-4' }} </span></p>
</div>
