
<app-global-error></app-global-error>

<input type="text" placeholder="Filter products..."
[(ngModel)]="term"
>
<p *ngIf="loading">Loading...</p>

<div *ngIf="products$ | async as products">
  <app-product
    *ngFor="let product of products | filterProducts: term; let i=index"
    [product]="product"
  ></app-product>
</div>

<app-modal></app-modal>
 